{% extends "layout.html" %}

{% block title %}
Administrator
{% endblock %}
{% block main %}
{% if session.clearance == 'admin' %}
<p class="message">{{ message }}</p>
<p class="success-message">{{ message1 }}</p>
<table class="table">
    <tr class="th-rows">
        <th>
            Username
        </th>
        <th>
            Status
        </th>
        <th>
            Action
        </th>
    </tr>
    {% for user in users %}
        <tr class="trows">
            <td>
                {{ user.username }}
            </td>
            <td>
                {{ user.clearance }}
            </td>
            <td class="form-group">
                <form action="/admin" method="post">
                    <select name="options">
                        <option disable selected value="" placeholder="action"></option>
                        <option value="{{ user.username }} user">Make user</option>
                        <option value="{{ user.username }} admin">Make admin</option>
                        <option value="{{ user.username }} eliminate">Eliminate</option>
                    </select>
                    <button class="btn btn-primary" onclick="return confirm('Are you sure?');">Request</button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}