{% extends "layout.html" %}
{% block title %}
Password Change
{% endblock %}
{% block main %}
{% if not shares %}
<form action="/password" method="post">
    <div class="title"><h2>Registration</h2></div>
    <div class="form-group">
    <input autocomplete="off" autofocus class="request-info" name="old-password" placeholder="Old password" type="password">
    </div>
    <div class="form-group">
        <input autocomplete="off" class="request-info" name="new-password" placeholder="New Password" type="password">
    </div class>
    <div class="form-group">
        <input autocomplete="off" class="request-info" name="password-conf" placeholder="Re-enter password" type="password">
    </div class>
    <div class="form-group">
    <button class="btn btn-primary" type="submit">Register</button>
    </div>
</form>
{% endif %}
<p class="message">{{ message }}</p>
<p class="success-message">{{ message1 }}</p>
{% endblock %}
