.app__education {
    margin-top: 4rem;
    width: 80%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app__education h2 {
    font-size: 50px;
}

.app__education-boxCard {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;

    gap: 40px;
}

.app__education-boxCard_card {
    max-width: 400px;
    min-width: 250px;
    flex: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    background: var(--white-bg);
    border-radius: 40px;
    border: 1px solid var(--white-border);
}

.app__education-boxCard_card h3 {
    margin-bottom: 5px;
}

.app__education-boxCard_card h4 {
    margin: 0 0 5px 0;
}
