@import url('https://fonts.googleapis.com/css?family=Poppins');

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background: gray;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  height: 5px;
  background: #5036B9;
}

:root {
  font-family: Poppins;
  background: #000;
  color: #F0F0F0;
  --color-text: #F0F0F0;

  --white-bg: #181818CC;
  --white-border: #ffffff1f;

}